/app-log/
/.idea/
/target/
/web/node_modules/
/web/src/.umi/
/web/package-lock.json
/pom-xml-flattened
/test-result/
/data
/lib/*.zip*
/dist/chromedriver-win64/
/dist/java/
/dist/app.jar
/dist/data/
/dist/chrome-win64/
*.log
/dist/filename.temp

/dist/*.zip
/dist/jdk/
/web/dist/
/web/src/.umi-production/
/dist/app-log/
